html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  display: flex;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  
  flex-direction: column;
}

.half {
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 600px) {
  .main {flex-direction: row;}
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    color: black;
    font-family: "Bitcount Prop Single";
    font-weight: 400;
    font-size: xx-large;
    padding: 0;
    margin: 10px;;
}

p {
  font-family: "EB Garamond";
  font-size: large;
  margin: 20px;  
  text-indent: 30px;
}

.button-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button {
  color: darkmagenta;
  background-color: pink;
  border: 4px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}




header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: pink;
  height: 75px;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.logo {
  height: 75px;
  justify-content: right;
  position: absolute;
  right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.header-left button{
  color: black;
  background-color: pink;
  border: 2px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  border-radius: 10px;
  margin: 5px;
}

.empty-space {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.empty-space2 {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.empty-space3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button:hover{
  background-color: darkgreen;
  color: white;
  border-color: yellowgreen;
  border-radius: 0;
}

.img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px;  
}

.altbutton {
  color: darkblue;
  background-color: cyan;
  border: 4px solid darkblue;
}
.altbutton:hover{
  background-color: lightpink;
  color: black;
  border-color: orange;
  border-radius: 0;
}

@keyframes spinAnimation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mainlogo:hover {
  animation-name: spinAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}